:root {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: .05em;

    color: #060607;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
    font-weight: 400;
    color: #262626;
    text-decoration: inherit;
}

body {
    margin: 0 auto;
    width: 100%;
    min-width: 320px;
    min-height: 100vh;
    height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.2;
}
